<div class="note-list-container" fxLayout="column" fxGap="10px">
  <h1 style="text-align: center">Your Notes</h1>
  <div
    class="note-item-header"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxFlex="40%">Title</div>
    <div fxFlex="40%">Description</div>
    <div fxFlex="30%">Actions</div>
  </div>

  <div
    *ngFor="let note of notes"
    class="note-item"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    (click)="viewNote(note.id)"
  >
    <div fxFlex="40%">{{ note.title }}</div>
    <div fxFlex="40%">{{ note.description }}</div>
    <div fxFlex="30%" class="button-container" fxLayout="row" fxLayoutGap="5px">
      <button
        [id]="'update-note' + note.id"
        mat-raised-button
        color="primary"
        (click)="updateNote(note.id)"
      >
        Edit
      </button>
      <button
        [id]="'delete-note' + note.id"
        mat-raised-button
        color="warn"
        (click)="deleteNote(note.id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
