<!-- create-note.component.html -->

<div class="create-note-container">
  <mat-card class="card">
    <mat-card-title>Create Note</mat-card-title>
    <mat-card-content>
      <form [formGroup]="taskForm" (keydown.enter)="$event.preventDefault()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" />
          <mat-error *ngIf="taskForm.get('title')!.hasError('required')"
            >Title is required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Description"
            formControlName="description"
          ></textarea>
          <mat-error *ngIf="taskForm.get('description')!.hasError('required')"
            >Description is required</mat-error
          >
        </mat-form-field>

        <button
          id="submit"
          [hidden]="updateNote"
          type="submit"
          (click)="createNote()"
          mat-raised-button
          color="primary"
        >
          Create Note
        </button>

        <button
          id="update"
          *ngIf="updateNote"
          type="submit"
          (click)="createNote()"
          mat-raised-button
          color="primary"
          [disabled]="viewNote"
        >
          Update Note
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
