<!-- task-list.component.html -->

<div class="task-list-container" fxLayout="column" fxGap="10px">
  <div
    class="task-item-header"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxFlex="70%">Task Title</div>
    <div fxFlex="30%">Actions</div>
  </div>

  <div
    *ngFor="let task of tasks"
    class="task-item"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxFlex="70%">{{ task.title }}</div>
    <div fxFlex="30%" fxLayout="row" fxLayoutGap="5px">
      <button mat-icon-button color="primary" (click)="updateTask(task.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
